.u-section-1 {
  background-image: none;
  min-height: 2735px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 565px);
  min-height: 2735px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  width: 271px;
  height: 2px;
  margin: -2529px auto 0 80px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -76px calc(((100% - 1140px) / 2) + 730px) 0 80px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  min-height: 2370px;
  grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px);
  grid-gap: 10px 10px;
  margin: -7px auto 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 333px;
  height: 302px;
  object-position: 50% 64.11%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 333px;
  height: 302px;
  object-position: 50% 100%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 333px;
  height: 302px;
  object-position: 50% 100%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-8 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-5 {
  width: 333px;
  height: 302px;
  object-position: 50% 82.23%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-10 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-6 {
  width: 333px;
  height: 302px;
  object-position: 50% 67.3%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-12 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-7 {
  width: 333px;
  height: 302px;
  object-position: 50% 74.81%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-14 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-8 {
  width: 333px;
  height: 302px;
  object-position: 50% 10.27%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-16 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-9 {
  width: 333px;
  height: 302px;
  object-position: 50% 92.39%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-18 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-19 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-10 {
  width: 333px;
  height: 302px;
  object-position: 50% 100%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-20 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-21 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-11 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-22 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-23 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-12 {
  width: 333px;
  height: 302px;
  object-position: 50% 100%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-24 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-25 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-13 {
  width: 333px;
  height: 302px;
  object-position: 50% 100%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-26 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-27 {
  margin: 20px 0 0 354px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-14 {
  width: 333px;
  height: 302px;
  object-position: 50% 100%;
  margin: 30px 202px 0 0;
}

.u-section-1 .u-text-28 {
  background-image: none;
  margin: -212px 0 0 354px;
}

.u-section-1 .u-text-29 {
  margin: 20px 0 0 354px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 2219px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    min-height: 2219px;
    margin-top: 1px;
  }

  .u-section-1 .u-line-1 {
    height: 4px;
    margin-top: -2074px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -66px;
    margin-right: calc(((100% - 940px) / 2) + 610px);
    margin-left: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    min-height: 1954px;
    grid-template-columns: calc(((100% - 940px) / 2) + 465px) calc(((100% - 940px) / 2) + 465px);
    height: auto;
    margin-top: 14px;
    margin-bottom: 117px;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-2 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-3 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-4 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-5 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-6 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-7 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-8 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-9 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-10 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-11 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-12 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-13 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-1 .u-image-14 {
    width: 245px;
    height: 240px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-left: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 3941px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 359px);
    min-height: 3940px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -3798px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -53px;
    margin-right: calc(((100% - 720px) / 2) + 440px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    min-height: 3727px;
    grid-template-columns: 100%;
    margin-top: -74px;
    margin-bottom: 157px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-1 .u-image-7 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-1 .u-image-9 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-1 .u-image-10 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
  }

  .u-section-1 .u-image-11 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 0;
  }

  .u-section-1 .u-image-12 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
  }

  .u-section-1 .u-image-13 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 394px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 0;
  }

  .u-section-1 .u-image-14 {
    margin-top: 113px;
    margin-right: 445px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 3931px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 269px);
    min-height: 3929px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -3796px;
    margin-right: 320px;
    margin-left: calc(((100% - 540px) / 2) + -1px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 320px;
    margin-left: calc(((100% - 540px) / 2) + -1px);
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -67px;
    margin-bottom: 148px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 301px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 4069px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 170px);
    min-height: 4068px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 68px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -3934px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 145px);
    margin-left: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    min-height: 3868px;
    margin-top: 45px;
    margin-bottom: 31px;
  }

  .u-section-1 .u-image-1 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-2 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-3 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-4 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-5 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-6 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-7 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-8 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-9 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-10 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-11 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-12 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-13 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 178px;
  }

  .u-section-1 .u-image-14 {
    width: 158px;
    margin-top: 7px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 178px;
  }
}